<div class=" <%= weatherClass %>">
 
<%- include("header") -%>
<body class = "<%= weatherClass %>">
    <div class="container">
        <form action="/" method="post" class="search-bar">
            <input id="cityInput" type="text" name="cityName" placeholder="Enter City Name" autocomplete="off">
            <button type="submit">
                <img src="/images/search.png" height="50" width="50"/>
            </button>
            </form>
   
<div class="card">

<h1><%=query%></h1>
<h2><%=temp%>°C</h2>

<img class="weather" src=<%=imgURL%>>

<p><%=description%></p>
<p>Pressure: <%=pressure%> hPa</p>
<p>Humidity: <%=humidity%>%</p>

</div>
<script>
    const rainyContainer = document.querySelector('.weather-rainy .container');

    for (let i = 0; i < 100; i++) {
        const raindrop = document.createElement('div');
        raindrop.classList.add('raindrop');
        raindrop.style.left = `${Math.random() * 100}%`;
        raindrop.style.animationDuration = `${Math.random() * 1 + 0.5}s`;
        rainyContainer.appendChild(raindrop);
    }

</script>
<% function capitalizeWords(str) { %>
    <%= str
        .toLowerCase()
        .split(' ')
        .map(word => word.charAt(0).toUpperCase() + word.slice(1))
        .join(' '); %>
<% } %>
<div class="forecast">
    <% const numCardsToShow = 5; %>
    <div class="forecast-row">
        <% forecastData.slice(0, numCardsToShow).forEach((forecast) => { %>
            <div class="forecast-item <%= weatherClass %>">
                <div class="forecast-info">
                    <% const [date, time] = forecast.dt_txt.split(' '); %>
                    <% const dateStr = date.slice(8, 10); %>
                    <% const monthStr = date.slice(6, 7); %>
                    <% if (dateStr == dayOfMonth ) { %>
                            <% var dateString = "Today"; %>
                        <% } 
                    else { %>
                            <% var dateString = "Tomorrow"; %>
                        <% } %>
                    <p><%= dateString %></p>
                    <p> <%= time.slice(0, 2) + "00 hours" %></p>
                    <p> <%= forecast.main.temp %>°C</p>
                    <p> <%= capitalizeWords(forecast.weather[0].description) %></p>
                </div>
            </div>
        <% }); %>
    </div>
</div>
</div>
</div>
</body>
</div>